<div class="follow">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/contact/">Contact</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/showcase/how-books-are-made/posts/?feedView=all&viewAsMember=true">LinkedIn</a>
        </li>
        <li>
            <a href="https://podcasts.apple.com/za/podcast/how-books-are-made/id1527396219">Apple Podcasts</a>
        </li>
        <li>
            <a href="https://music.youtube.com/channel/UCXdwrHpr8Ww139oqvTj4rcQ">YouTube Music</a>
        </li>
        <li>
            <a href="https://open.spotify.com/show/4h8YJF88M3bjU49jFdJJAG">Spotify</a>
        </li>
    </ul>
</div>
