// Plyr variables
:root {
    --plyr-color-main: #{$color-links};
    --plyr-audio-controls-background: #{$color-background};
}

.player {

    .plyr--audio {
        // Align play button with text
        margin: 1rem 0 1rem -0.9rem;
    }
}
