// Plyr variables
// https://github.com/sampotts/plyr

:root {
    --plyr-color-main: #{$color-links};
    --plyr-audio-controls-background: #{$color-background};
}

.player {

    .player-fallback {
        color: $color-mid;
        font-family: $font-sans;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .plyr--audio {
        // Align play button with text
        margin: 1rem 0 2rem -0.9rem;
    }
}
