// Basic elements

body, html {
    background-color: $color-background;
    color: $color-text-main;
    font-family: $fonts-serif;
    font-size: $font-size;
    line-height: $line-height;
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.wrapper {
    margin: auto;
    max-width: $max-width;
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    font-weight: 500;
    line-height: $line-height * 0.8;
    & + & {
        margin-top: 0;
    }
}

h1 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;

    @media only screen and (min-width: $break-width-small) {
        font-size: 3rem;
        margin: 5rem 0 1rem 0;
    }
    @media only screen and (min-width: $break-width-medium) {
        font-size: 4rem;
        position: relative;
        left: calc((80vw - #{$max-width}) / 2 * -1);
        right: calc((80vw - #{$max-width}) / 2 * -1);
        text-align: center;
        width: 80vw;
    }
    @media only screen and (min-width: $break-width-large) {
        font-size: 5rem;
    }
}

h2 {
    margin-top: 4rem;
}

p {
    margin: 0 0 1rem 0;
}

code, pre {
    font-family: $fonts-monospace;
    background-color: $color-code-background;
    padding: 0.1em 0.3em;
    border-radius: $border-radius;
}

pre {
    overflow-x: scroll;
}

code {
    line-height: 0; // stop code spans from widening lines
}

hr {
    margin: ($line-height * 2) 0;
    border: none;
    border-top: $rule-thickness solid $color-mid;
}

a {
    text-decoration: none;
    color: $color-links;
}

input {
    font-family: $fonts-system;
    padding: $input-padding;
    border: $rule-thickness solid $color-mid;
    border-radius: $border-radius;
}

form {
    margin-bottom: $line-height;
}

.button {
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    background: $color-links;
    border: $rule-thickness solid $color-links;
    color: white;
    font-weight: 500;

    &:hover {
        background: $color-text-main;
        border-color: $color-text-main;
    }

    &.button-light {
        background-color: $color-background;
        color: $color-links;

        &:hover {
            background-color: $color-text-main;
            color: white;
        }
    }
}

// Common best practice classes
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Features

.home {
    
    .wrapper {

        // Allow stacking
        position: relative;
        z-index: 0;

        // Large circle decor
        --sidebar-width: calc((100vw - 100%) / 2);
        &::before {
            content: "";
            position: absolute;
            width: 100vh;
            height: 100vh;
            top: -50vh;
            left: 50%;
            transform: translateX(var(--sidebar-width));
            background-color: $color-hbam-blue;
            border-radius: 100vh;
            opacity: 0.3;
            z-index: -1;
    
            @media only screen and (min-width: $break-width-large) {
                width: 150vh;
                height: 150vh;
                top: -75vh;
            }
        }
    }
}

.contact {
    
    h1 + p {
        margin-top: 3rem;
    }
}

.masthead {
    font-family: $font-sans;
    margin: 3rem 0 0 0;

    @media only screen and (min-width: $break-width-medium) {
        text-align: center;
    }

    img {
        border-radius: $border-radius;
        max-width: 5rem;
    }

    // Space to next h1
    & + h1 {
        margin-top: 3rem;
    }
}

.tagline {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 2rem;

    // Line on left
    position: relative;
    &:before {
        border-top: $rule-thickness solid $color-text-main;
        content: "";
        // display: inline-block;
        float: left;
        margin-right: 0.3rem;
        position: relative;
        top: 0.8rem;
        width: 2rem;
    }
}

.follow {
    margin: 2rem 0;

    ul {
        font-family: $font-sans;
        font-size: 0.6rem;
        letter-spacing: 0.05em;
        line-height: 2rem;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        text-transform: uppercase;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            margin-right: 0.5rem;
            
            a {
                border: $rule-thickness solid $color-hbam-blue;
                border-radius: $border-radius;
                color: darken($color-hbam-blue, 20%);
                padding: 0.5rem 0.5rem 0.3rem 0.5rem;

                &:hover {
                    background-color: $color-hbam-blue;
                    color: $color-links;
                }
            }
        }
    }
}

.episodes {
    list-style-type: none;
    margin-bottom: 2rem;
    margin-top: 6rem;
    padding: 0;

    .episode {
        margin-bottom: 5rem;


        // Hide contents unless target or only episode
        .player,
        .notes {
            display: none;
        }
        &:target,
        &:first-child {
            .guests,
            .player,
            .description,
            .notes {
                display: initial;
            }
        }

        h2 {
            margin: 0 0 0.5rem 0;

            // If no guests, add margin
            & + .description {
                margin-top: 1rem;
            }
        }

        .description {

            p {
                font-size: 1.3rem;
                font-style: italic;
                margin-bottom: 2rem;
            }
        }

        .date {
            color: $color-mid;
            font-family: $fonts-small-caps;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            margin-bottom: 1rem;
            text-transform: lowercase;
        }

        .guests {
            font-family: $font-sans;
        }

        .number {
            float: right;
        }

        .description,
        .notes {
            & > ul, & > ol {
                list-style-type: disc;
                padding-left: 1rem;
            }
        }
    }
}

.timestamp {
    color: $color-mid;
    display: block;
    font-family: $fonts-small-caps;
    letter-spacing: 0.05em;
    margin-top: 2em;
    text-transform: lowercase;

    strong {
        font-weight: normal;
    }
}

.footer {
    border-top: $rule-thickness solid $color-text-main;
    font-size: 0.9rem;
    padding: 2rem 1rem 4rem 1rem;

    .footer-content {
        margin: auto;
        max-width: $max-width;

        p {
            margin: 0;
        }
    }
}
