<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.settings.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/web.css?date={{ site.time | date: "%Y%m%d%H%M%S" }}">

    <meta property="og:title" content="{{ site.data.settings.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.data.settings.url }}{{ page.url }}" />
    <meta property="og:image"
        content="{{ site.data.settings.url }}/images/{% if page.image %}{{ page.image }}{% else %}{{ site.data.settings.image }}{% endif %}?date={{ site.time | date: "%Y%m%d%H%M%S" }}" />
    <meta property="og:description"
        content="{% if page.description and page.description != "" %}{{ page.description | markdownify | strip_html }}{% elsif page.excerpt and page.excerpt != "" %}{{ page.excerpt | markdownify | strip_html }}{% else %}{{ site.data.settings.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.data.settings.title }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27798626-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.data.settings.google-analytics-id }}');
    </script>

</head>
<body>
    <div class="wrapper">

        {{ content }}

    </div>

    <div class="footer">
        <div class="footer-content">
            <p>
                Supported by <a href="https://electricbookworks.com">Electric Book Works</a>
            </p>
            <p>
                Podcast art by <a href="https://hybridcreative.co.za">Hybrid Creative</a>
            </p>
        </div>
    </div>

    {% comment %} https://github.com/sampotts/plyr {% endcomment %}
    <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
    <script src="bundle.js?date={{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
</body>
</html>
