<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include metadata %}

    <title>{{ page-title }}</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/web.css?date={{ site.time | date: "%Y%m%d%H%M%S" }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ page-title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.data.settings.url }}{{ page.url }}" />
    <meta property="og:image"
        content="{{ site.data.settings.url }}/images/{% if page.image %}{{ page.image }}{% else %}{{ page-image }}{% endif %}?date={{ site.time | date: "%Y%m%d%H%M%S" }}" />
    <meta property="og:description"
        content="{% if page.description and page.description != "" %}{{ page.description | markdownify | strip_html }}{% elsif page.excerpt and page.excerpt != "" %}{{ page.excerpt | markdownify | strip_html }}{% else %}{{ page-description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.data.settings.title }}" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Podcast"
          href="https://feeds.transistor.fm/how-books-are-made" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/icons/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ site.baseurl }}/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27798626-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.data.settings.google-analytics-id }}');
    </script>

</head>
<body class="{{ page.style }}"{% if page-type == "episode" %} data-episode="true"{% endif %}>
    <div class="wrapper">

        <div class="masthead">

            <a href="{{ site.baseurl }}/">
                {% if page.style == "home" %}
                    {% include image file="book-box.svg" alt=site.data.settings.title %}
                {% else %}
                    {% include image file="hbam.svg" alt=site.data.settings.title %}
                {% endif %}
            </a>

        </div>

        {% if page-type == "episode" %}
    
            {% include episode.liquid episode=this-episode %}
    
        {% endif %}
 
        {{ content }}

    </div>

    <div class="footer">
        <div class="footer-content">
            <p>
                Supported by <a href="https://electricbookworks.com">Electric Book Works</a>
            </p>
            <p>
                Podcast art by <a href="https://hybridcreative.co.za">Hybrid Creative</a>
            </p>
        </div>
    </div>

    {% comment %} https://github.com/sampotts/plyr {% endcomment %}
    <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
    <script src="{{ site.baseurl }}/bundle.js?date={{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
</body>
</html>
